.room_children_wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}
.room_remove{
    color: #ce2121;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
}
.room_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.room_people_bottom{
    position: sticky;
    bottom: 0;
    background: white;
    display: flex;
    padding: 8px 0;
}
.room_children_add{
    padding: 7px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    height: auto;
    display: flex;
    width: fit-content;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}
.room_children_add:hover{
    border-color: rgb(0, 83, 218)
}
.childs_dropdown_wrapper{
    position: relative;
}
.childs_dropdown{
    opacity: 0;
    position: absolute;
    top: 0;
    height: 36px;
    width: 100%;
}
.rooms_wrapper{
    display: flex;
    column-gap: 20px;
}
.room_adults{
    max-width: 30%;
    width: 100%;
}
.room_children{
    max-width: 60%;
    width: 100%;
}
.room_heading{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}
.room_add{
    align-items: center;
    color: rgb(15, 93, 228);
    display: inline-flex;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    user-select: none;
    width: 100%;
    cursor: pointer;
}
.room_adults_buttons_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
}
.room_adults_button{
    background: none;
    border: none;
    box-sizing: border-box;
    color: rgb(45, 49, 55);
    font-size: 24px;
    height: 36px;
    line-height: 30px;
    overflow: hidden;
    width: 36px;
    padding: 0;
    cursor: pointer;
}
.room_adults_number{
    font-size: 16px;
}
.roomChildren{
    background-color: rgb(244, 244, 244);
    border-radius: 6px;
    padding: 8px 0 8px 12px;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    display: flex;
    align-items: center;
}
.roomChildren_button{
    border: none;
    color:#868686;
    cursor: pointer;
}
.guestsSVG_active{
    transform: rotate(180deg);
}
.input_room{
    cursor: default;
}
.room_input_module{
    max-width: 136px;
    width: 100%;
}
.inputLabel{
    margin-bottom: 10px;
}
.roomHr{
    margin: 16px 0;
}
@media only screen and (max-width: 1075px) {

}