.visualInputss{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.visualInputss *{
    cursor: pointer;
}
.input_module{
    background-color: white;
    color: black;
    border: 1px solid rgb(229, 229, 229);
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    width: 120px;
    transition: box-shadow 1s;
}
.input_module:hover{
    border-color: rgb(0, 83, 218)
}
.input_module_active{
    border-color: rgb(0, 83, 218) !important;
    box-shadow: 0 0 0 2px rgba(15, 93, 228, 0.4);
    z-index: 99;
}
.input_module_label{
    font-size: 12px;
    font-weight: 100;
}
.input_module_control{
    font-size: 16px;
}
.show{
    display: flex;
}
.hide{
    display: none;
}
.daterangepicker_wrapper{
    position: relative;
    max-width: 300px;
    width: 100%;
}
.originInputs{
    display: none;
}
.input_check_in{
    border-radius: 5px 0 0 5px !important;
    flex-grow: 1;
}
.input_check_out{
    border-radius: 0 5px 5px 0 !important;
    flex-grow: 1;
}
@media only screen and (max-width: 1075px) {
    .visualInputss{
        box-sizing: border-box;
    }
    .input_check_in, .input_check_out{
        max-width: 165px;
        width: 100%;
        min-width: 120px;
    }
    .daterangepicker_wrapper{
        width: auto;
    }
}
@media only screen and (max-width: 680px) {
    .input_check_in, .input_check_out{
        max-width: 100%;
    }
    .popupCalendar_months{
        display: none;
    }
}