.mainButton{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px;
}
.extraButton{
    opacity: 0.5;
    font-size: 16px;
    background-color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(45, 49, 55);
    text-decoration: none;
    margin-bottom: 10px;
}
.formButtons{
display: flex;
}
.form{
    padding: 10px;
    background: white;
    display: flex;
    column-gap: 20px;
}
.inputWrapper{
    display: flex;
    flex-direction: column;
}
.input_label{
    font-size: 12px;
    font-weight: 100;
}
.input_module{
    background-color: white;
    color: black;
    border: 1px solid rgb(229, 229, 229);
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    width: 130px;
    position: relative;
}
.input_module:hover{
    border-color: rgb(0, 83, 218)
}
.input{
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.popup{
    position: absolute;
    visibility: hidden;
    background: white;
    color: black;
    left: 0;
    top: 50px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 12px 0 rgba(45, 49, 55, 0.3);
}
.popup_active{
    visibility: visible;
}
.popup_separator{
    margin-top: 15px;
    font-size: 12px;
    padding-left: 10px;
}
.search_item{
    background: white;
    color: black;
    padding: 0px 10px;
    cursor: pointer;
    overflow: hidden;
}
.search_item:hover{
    background: rgba(15, 93, 228, 0.09999999999999998);
}
.search_item_heading{
    font-size: 16px;
}
.search_item_label{
    font-size: 12px;
    white-space: nowrap;
}
.search_item_wrapper{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 5px;
}
.search_item_content{
    max-width: calc(100% - 33px)
}
.input_search{
    width: 315px;
}
.input_module_search{
    max-width: 315px;
    width: 100%;
}
.popup_rooms{
    padding: 30px 30px 0px 30px;
    width: 370px;
    max-height: 300px;
    overflow-y: scroll;
}
.input_module_wrapper{
    display: flex;
    flex-direction: column;
}