@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.originInput{
 visibility: hidden;
}
#popupCalendar{
  color: black;
  background-color: white;
  column-gap: 10px;
  max-height: 450px;
  overflow: hidden;
  border-radius: 5px;
  z-index: 99;
  position: absolute;
  left: 0;
}
#popupCalendar .popupCalendarDays{
  display: flex;
  position: sticky;
  top: 0;
}
.popupCalendar_months{
 display: flex;
  flex-direction: column;
  width: 180px;
  font-size: 17px;
  overflow-y: scroll;
  background-color: #f4f4f4;
  position: relative;
}
.popupCalendar_months div{
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
  position: relative;
  font-weight: 400;
  cursor: pointer;
}
.popupCalendar_months div:hover{
  opacity: 0.8;
}
#popupCalendar .popupCalendarDays div{
  height: 32px;
  width: 32px;
  text-align: center;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popupCalendar .monthDays{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: fit-content;
  row-gap: 3px;
}
#popupCalendar .monthDays span.DateNumber{
  height: 32px;
  width: 32px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popupCalendar .monthDays span.DateNumber[data-disabled=true]{
  opacity: 0.5;
  cursor: default;
}
#popupCalendar .monthDays span.DateNumber:hover, #popupCalendar .monthDays span.DateNumber.includes:hover, #popupCalendar .monthDays span.active{
  color: white;
  background-color: rgb(15, 93, 228);
  font-weight: 600;
}
#popupCalendar .monthDays span.includes{
  background-color: rgba(0, 0, 0, 0.05);
}
#popupCalendar .popupCalendar_main{
  overflow-y: scroll;
  scroll-behavior: smooth;
}
#popupCalendar .popupCalendarDays{
  position: sticky;
  background-color: white;
  z-index: 9999;
  border-bottom: 1px solid rgb(229, 229, 229);
}
#popupCalendar .popupCalendar_main{
  position: relative;
}
#popupCalendar .monthName{
  font-size: 20px;
  margin-bottom: 10px;
}
#popupCalendar .active.end_date{
  border-radius: 0px 5px 5px 0
}
#popupCalendar .active.start_date{
  border-radius:  5px 0px 0px 5px
}
.extra_year{
  font-size: 12px;
  opacity: 0.6;
}
.popupCalendar_underLay{
 background-color: white;
  height: 60px;
  width: 100%;
  display: block;
  position: absolute;
}
@media only screen and (max-width: 680px){
  .popupCalendar_months{
    display: none;
  }
  #popupCalendar{
    max-width: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  #popupCalendar .popupCalendar_main{
    width: 340px;
    margin: 0 auto;
    overflow-y: visible;
  }
  .popupCalendarDays div{
    flex: 1;
  }
  #popupCalendar .monthDays span.DateNumber{
    flex: 1;
    width: 100%;
  }
  #popupCalendar .monthDays{
    width: 100%;
    max-width: 100%;
  }
}