.button{
    background-color: rgb(15, 93, 228);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 20px;
    color: white;
    font-size: 18px;
    height: 48px;
    max-width: 100%;
    width: 100%;
}
.buttonSearchWrapper{
    width: 15%;
    max-width: 100%;
}
.buttonWrapper{
    width: 100%;
    max-width: 100%;
}
@media only screen and (max-width: 1075px) {
    .buttonSearchWrapper{
        width: 30%;
    }
}
@media only screen and (max-width: 670px) {
    .buttonSearchWrapper{
        order: 3;
    }
}